.form-stack input,
.form-stack label {
  display: block;
}

.form-stack * + * {
  margin-top: 0.5rem;
}

.form-stack input[type="radio"],
.form-stack input[type="radio"] + label,
.form-stack input[type="checkbox"],
.form-stack input[type="checkbox"] + label {
  display: inline-block;
}

label {
  font-weight: bold;
}

.form-stack input[type="radio"] + label,
.form-stack input[type="checkbox"] + label {
  font-weight: normal;
}
